html {
	background-color: #343a40;
}

body {
	background-color: #343a40;
}


.container-fluid {
	background-color: #343a40;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.page-footer {
	border-top: 1px solid whitesmoke;
}